.task__header {
  height: 10vh;
  padding-left: 20px;
  background-color: #f06292;
  color: white;
}
.task__header--title {
  height: 10vh;
  float: left;
  line-height: 10vh;
  font-size: 30px;
}

.task__header--icons {
  float: right;
  margin-top: calc(5vh - 12px);
  margin-right: 20px;
}

.tasks__container {
  background-color: #e9e9e9;
  display: inline-block;
  width: 100vw;
  height: 90vh;
  min-height: 800px;
  overflow: scroll;
}

/deep/ .tasks__container mat-chip {
  background-color: #f06292 !important
}

.task__card {
  margin-bottom: 20px;
  margin-top: 20px;
  display: inline-block;
  width: 90vw;
  margin-left: 3vw;
  min-height: 260px;
}

.task__button {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.task__addMember {
  margin: 10px;
}
